# functions
export( resid_index, resid_mu, resid_xvar, resid_plots,
        resid_median,  resid_param,  resid_quantile,
        resid_density,
        model_density,
        resid_wp, resid_wp_wrap,
        resid_qqplot, add_resid_qqplot,
        resid_ecdf, 
        resid_dtop, 
        model_wp,  
        model_GAIC_lollipop,
        model_GAIC, 
        model_qqplot,
        model_pca, 
        model_wp_wrap,
        fitted_pdf, fitted_pdf_data, family_pdf, predict_pdf,
        fitted_cdf, fitted_cdf_data, family_cdf, predict_cdf,
        fitted_terms, #pe_terms,
        boot_coef, histSmo_plot,
        pcr_coef_path,
        pcr_path,
        y_ecdf, y_hist, y_acf, y_pacf, y_dots,
        fitted_leverage, 
        fitted_centiles, fitted_centiles_legend, model_centiles,
        resp_quantile, resp_param, quantile_gamlss, resp_mu,
        pe_param, pe_1_param, pe_2_param, pe_param_grid,  
        #pe_moment, 
        #pe_pdf, pe_pdf_grid, pe_quantile_grid,
        fitted_devianceIncr,
        model_devianceIncr_diff,
        resid_symmetry, y_symmetry, 
        moment_gray_both, moment_colour_half, moment_colour_both,
        moment_gray_half,
        centile_colour_both, centile_gray_both, centile_colour_half,
        moment_bucket, model_mom_bucket, moment_bucket_wrap,
        centile_bucket, model_cent_bucket, centile_bucket_wrap
        )


importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("stats", "quantile", "prcomp", "acf", "lag", "pacf",  "formula")
importFrom("stats", "residuals", "model.frame", "naresid", "resid")
importFrom("stats", "hatvalues")
importFrom("stats", "terms", "hat")
importFrom("stats", "predict", "splinefun", "approxfun", "cor", "cov", "na.omit", "qchisq")
importFrom("grDevices", "hcl.colors", "colors")
importFrom("graphics", "lines", "par")
importFrom("graphics", "lines")
import(gamlss)
import(gamlss.dist)
import(gamlss.foreach)
import(ggridges)
importFrom("stats", "fitted", "lm")
importFrom("stats", "fitted", "lm")
importFrom("grid", "grid.layout", "grid.newpage", "pushViewport", "viewport")
import(ggplot2)
importFrom("gamlss.inf", "gen.Zadj", "gen.Inf0to1")
importFrom("grDevices", "devAskNewPage")
importFrom("methods", "is")
importFrom("stats", "pnorm", "qnorm", "dnorm", "ppoints", "pbeta", "qbeta", 
            "IQR", "median")
importFrom("grDevices", "gray")
importFrom("utils", "tail")
importFrom("ellipse", "ellipse")
#importFrom("reshape2", "melt")
importFrom("graphics", "abline")
importFrom("stats", "runif")
importFrom("stats", "get_all_vars")
